* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.same-containers {
  padding: 0 230px 0 254px;
  display: flex;
}
.products {
  display: flex;
}
.h-6 {
  width: 16px;
}
/****************************************
        NAV BUTTON STARTS HERE
*****************************************/
.nav-button {
  width: 165px;
  height: 49px;
  top: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #d23166;
  border-radius: 5px;
  font-family: "Hind Madurai";
  color: #fafafa;
  font-weight: 700;
  cursor: pointer;
}
.nav-button a:link,
.nav-button a:visited {
  font-family: "Hind Madurai";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  color: #fafafa;
  text-decoration: none;
}
.nav-button:hover {
  background-color: #fafafa;
  border: 2px solid #d23166;
}
.nav-button:hover a {
  color: #d23166;
}
.h1-span {
  color: #d23166;
}
/****************************************
        NAV BUTTON ENDS HERE
*****************************************/
